* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: roboto, sans-serif;
}

body {
    height: 100vh;
}

/******* GLOBALS **************/

label,
input,
select textarea {
    display: block;
}

input,
select,
textarea {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 5px;
    border: none;
}

textarea {
    height: 100px;
    resize: none;
}

@media screen and (max-width: 680px) {

    input,
    select,
    textarea {
        width: 98%;
        padding: 10px;
        border-radius: 10px;
        background-color: lightgray;
        margin-top: 5px;
        border: none;
    }
}

/************* MAIN + H1***************/

main {
    width: 100%;
    height: fit-content;
    margin-bottom: 2em;
}

main h1 {
    text-align: center;
    margin: 20px;
    font-family: Secular One, sans-serif;
}

/******** MAIN CONTAINER SECTION *************/

main .container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main #personal-section,
main #form-section {
    width: 50%;
}
main #form-section {
    padding: 10px;
}

@media screen and (max-width: 680px) {
    main .container-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main #personal-section,
    main #form-section {
        width: 100%;
    }
}

/*********** FORM SECTION *************/

main #form-section form .input-group {
    margin: 10px 0;
}

main #form-section form .btn-submit,
main #form-section form .btn-reset
{
    display: inline-block;
    width: 10rem;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #CC9933;
    color: white;
    cursor: pointer;
}
main #form-section form .btn-submit:hover{
    background-color: #bb9038;
    transition: background-color 0.2s;
}

main #form-section form .btn-reset {
    border: 1px solid #CC9933;
    background-color: transparent;
    color: black;
}

/******** PERSONAL SECTION ************/

main .container-section #personal-section {
    text-align: center;
}

main .container-section #personal-section figure {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
}

main .container-section #personal-section figure img {
    width: 100%;
    height: 100%;
}

main .container-section #personal-section h2 {
    margin: 10px 0;
}

main .container-section #personal-section .speciality {
    width: 10rem;
    margin: 10px auto;
}

main .container-section #personal-section .contact-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}