*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

p{
    margin-bottom: 20px;
    text-align: justify;
    font-family: Roboto, 'sans-serif';
}

main{
    padding: 10px;
}
main h1{
    margin: 20px;
    text-align: center;
    font-family: Secular One, 'sans-serif';
}