*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --white-color: #ffffff ;
    --main-color : #046F92 ;
    --secondary-color : #CC9933 ;
    --title-font: Secular One, sans-serif ;
    --paragraphe-font: roboto, sans-serif ;
}

figure{
    width: 100px;
    height: 50px;
}

figure img {
    width: 100%;
    height: 100%;
}

.contact-button-nav{
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

/***************Header - Barre de navigation ******************/

nav{
    width:100%;
    height:50px; 
    position:fixed;
    top: 0;
    z-index: 1;
    margin-bottom: 1.5em;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.nav-menu{ 
    width: 100%;
    height:100%;
    text-align: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{ 
    display:inline-block;
    line-height: 50px;
    margin:0 10px; 
    font-size:18px;
}

.nav-item.active{
    display:block;
}

.nav-item a{ 
    color:black;
    font-size: 1.5rem;
}

.btn-toggle{ 
    position:absolute;
    width: 40px;
    height:40px;
    left:12px;
    top:12px;
    cursor:pointer;
    display:none;
}

.btn-toggle i{ 
    color:white;
    position:absolute;
    font-size:25px;
}

.logo-mobile{
    display: none;
}


@media screen and (max-width:700px) {
    .btn-toggle{ 
        display:block;
    }

    #figure-nav{
        display: none;
    }

    .nav-item{ 
        display:block;
        background-color: #fff;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        margin: 0; 
    }

    .nav-menu{
        position:relative;
        top:50px;
        display:none; 
    }

    nav{
        background-color: #fff;
        border-bottom:1px solid white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    .nav-menu.active{ 
        display:block;
    }

    .logo-mobile{
        display: block;
        width: 65px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .contact-button-nav{
        display:block;
        background-color: #fff;
        border-radius: 0;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        margin: 0;
        padding: inherit;
    }
}
