#testimonial-section{
    text-align: center;
    width: 600px;
    margin: 3em auto;
    position: relative;
    overflow: hidden;
}
#carrousel-container{
    display: inline-flex;
    width: 600px;
}

.chevron {
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 100px;
}

#g{
    left: 0;
    transition: all 300ms ease ;
}

#g:hover{
    scale: 1.2;
}

#d{
    right: 0;
    transition: all 300ms ease ;
}

#d:hover{
    scale: 1.2;
}

.testimonial{
    text-align: center;
    margin: 2em auto;
    width: 600px;
}

.testimonial img {
    width: 200px;
}

.testimonial p {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
@media screen and (max-width: 700px) {

    #testimonial-section{
        text-align: center;
        width: 300px;
        margin: 3em auto;
        position: relative;
        overflow: hidden;
    }
    #carrousel-container{
        display: inline-flex;
        width: 300px;
    }

    .testimonial img {
        width: 150px;
    }

    .chevron{
        width: 20px;
    }

    .testimonial p {
        padding: 0.5em;
    }

    .testimonial{
        text-align: center;
        margin: 0 0 0 0 ;
        width: 300px;
    }
}

